*.mp4
*.avi
*.jpg
*.jpeg
*.json
*.m4s
*.mpd
*.h264
*.bmp
*.exp
.vs
x64
x264
Debug
digest.txt
/streaming/node_modules
/browser/node_modules
/encoder/node_modules
dist
stats*.html
*.frame*
*.nal
*.index
rates.txt